
body{
  margin: 0px;
  padding: 0px;
  background-color: antiquewhite;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8fa22e;
  padding: 15px 30px;
}

.logo img {
  width: 80px;
  height:80px ;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

section {
  margin: 20px;
  padding: 20px;
  background:white;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}


.footer {
  background-color: #8fa22e;
  color: rgb(34, 139, 118);
  text-align: center;
  padding: 20px 10px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  font-size: 14px;
  margin: 5px 0;
}

.footer-bottom {
  margin-top: 10px;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .footer-content {
      padding: 20px;
  }
}